/* 
    Document   : index
    Created on : 04/10/2013, 07:28:52 PM
    Author     : Ronny
    Description:
        Purpose of the stylesheet follows.
*/

.contenido {
    background-color: white;
    box-shadow:0 0 30px rgba(0,0,0,0.2);
    height: 615px;
    margin: 0 auto;
    overflow: hidden;
    padding: 1em;
    width: 1000px;
}

#ingresoSistema {
    background-color: grey;
    border-radius: 20px;
    height: 195px;
    margin: 0 auto;
    margin-top: 100px;
    overflow: hidden;
    padding: 15px;
    width: 300px;
}
